.logo img {
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-color);
  padding-top: 5px;
  padding-left: 15px;
  position: fixed;
  z-index: 3;
  height: var(--header-height);
  }

  

 .menu {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--dark-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 25px;
  
  }

.a {
  display: inline-block;
  color: var(--beige);
  text-align: center;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  font-family: "Comfortaa", sans-serif;
  
}

.a:hover {
  background-color:#E7B2EA ;
  color: #936A96;
  transition: all 200ms ease-in-out;
}


.body{
    background-color: #EBD2B2;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 0px;
    position: relative;
    top: 0px;
}

.HarvestBowl{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px;
}

.ChocolateRaspberry{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}

.VegetarianCarbonara{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px; 
}
.La favorite{
    text-align: left;
    text-justify: distribute;
}
.AboutUsH {
    width: 300px;
    height: 225px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}

.nav {
    background-color: #E7B2EA;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; 
    font-family: "Comfortaa", sans-serif;
    color: #191a1a;
  }
  
.logo img {
    max-width: 400px;
  }
.nav_links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 24px
  }
  
.nav_links li {
    margin-left: 24px;
  }

.nav_links li:first-child {
    margin-left: 0;
  }
  
.li a {
    color: #191a1a;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
  }
  
.li a:hover {
    color: #3f8b7b;
    text-decoration: underline;
    font-weight: 600;
  }
  
.li.active a {
    color: #3f8b7b;
    font-weight: 600;
    text-decoration: underline;
  } 

.body{
    background-color: #EBD2B2;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0px;
}
.Footer{
    background-color: #936A96;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0px;
}
