:root {
    --light-color: #fff;
    --dark-color: #936A96;
    --header-height: 100px;
    --search-height: 50px;
    --border-colour: #936a96;
    --beige: #EBD2B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
  color:#E7B2EA;
  transition: all 200ms ease-in-out;
  text-decoration: underline;  
}
.button:hover {
      background-color:var(--dark-color);
    }
   
}*/
 img {
    border-radius: 8px;
    
 }
.logo img {
  background: #936A96;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding-top: 5px;
  padding-left: 15px;
  position: fixed;
  z-index: 3;
  height: 100px;
  }

  

 .menu {
  list-style-type: none;
  overflow: hidden;
  background-color:#936A96;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 25px;
  
  }

.a {
  display: inline-block;
  color: #EBD2B2;
  text-align: center;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  font-family: "Comfortaa", sans-serif;
  
}

.a:hover {
  background-color:#E7B2EA ;
  color: #936A96;
  transition: all 200ms ease-in-out;
}

p.big {
  line-height: 1.8;
}

.body{
    background-color: #EBD2B2;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 0px;
    position: relative;
    top: 0px;
}

.body_text{
    background-color: #EBD2B2;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 40px;
    position: absolute;
    top: 150px;
    margin-bottom: 50px;
}
#Heading_A {
  color: #936A96;
  position: relative;
  top: 5px;
  padding-left: 20px;
  font-size: 40px;
  padding-bottom: 35px;  
}
.headers {
  color: #936A96;
  position: relative;
  bottom: 5px;  
  padding-left: 5px;
  font-weight: bold;
  font-size: 30px;  
} 
#heading_la {
  color: #936A96;
  position: relative;
  bottom: 5px;  
  padding-left: 25px;
  font-weight: bold; 
  font-size:20px;  
  padding-bottom: 10px;  
}
#heading_lo {
  color: #936A96;  
  position: relative;
  bottom: 5px;    
  padding-left: 25px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;  
}
#heading_ar {
  color: #936A96;
  position: relative;
  bottom: 5px;    
  padding-left: 25px;
  font-weight: bold; 
  font-size: 20px;
  padding-bottom: 10px;    
}
.HarvestBowl{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px;
}

.ChocolateRaspberry{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}

.VegetarianCarbonara{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px; 
}
.La favorite{
    text-align: left;
    text-justify: distribute;
}
.AboutUsH {
    width: 300px;
    height: 225px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}

.Footer{
    background-color: #936A96;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    position:fixed;
    bottom: 0;
    width:100%;
    margin-top:200px;


}

.endbar_links {
  color: var(--beige);
  text-align: center;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  font-family: "Comfortaa", sans-serif;
  
}

.endbar_links:hover {
  background-color:#E7B2EA ;
  color: #936A96;
  transition: all 200ms ease-in-out;
}
