:root {
    --light-color: #fff;
    --dark-color: #936A96;
    --header-height: 100px;
    --search-height: 50px;
    --border-colour: #936a96;
    --beige: #EBD2B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


   
}*/
 img {
    border-radius: 8px;
    
 }
.logo img {
  background: #936A96;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding-top: 5px;
  padding-left: 15px;
  position: fixed;
  z-index: 3;
  height: 100px;
  }

  

 .menu {
  list-style-type: none;
  overflow: hidden;
  background-color:#936A96;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 25px;
  
  }

.a {
  display: inline-block;
  color: #EBD2B2;
  text-align: center;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  font-family: "Comfortaa", sans-serif;
  
}

.a:hover {
  background-color:#E7B2EA ;
  color: #936A96;
  transition: all 200ms ease-in-out;
}


.body{
    background-color: #EBD2B2;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 40px;
    position: absolute;
    top: 0px;
}

.HarvestBowl{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px;
}

.ChocolateRaspberry{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}

.VegetarianCarbonara{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: right;
    margin-right: 50px; 
}
.La favorite{
    text-align: left;
    text-justify: distribute;
}
.AboutUsH {
    width: 300px;
    height: 225px;
    object-fit: cover;
    float: left;
    margin-right: 50px;
}
.Footer{
    background-color: #936A96;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0px;
}
