
:root {
    --light-color: #fff;
    --dark-color: #936A96;
    --header-height: 100px;
    --search-height: 50px;
    --border-colour: #936a96;
    --beige: #EBD2B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


   
}*/
 img {
    border-radius: 8px;
    
 }


.button{
  color:white;
  background-color:#E7B2EA;
  padding: 15px;
  border-radius: 25px;
  width: 450px;
  display: flex;
  justify-content: center;
  margin-left: 80px;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0px var(--border-colour);
  transition: all 200ms ease-in-out;
  }
.button:hover {
      background-color:var(--dark-color);
      /* color: #E7B2EA; */
    }

 .image{
  justify-content:space-around;
  align-content: space-around;
  position: absolute;
  right: 150px;
  width: 400px;
  float: right;
  border-radius: 8px;   
    
 }
.h2{
  text-align: left;
}

 .clearfix{
  content: "";
  clear: both;
  display: table;
}


.text{
  justify-content: left;
  text-align: left;
  float: left;
  width: 500px;
  left: 250px;
}
.alltext{
  font-family: "Comfortaa", sans-serif;
  }
  

  
.logo img {
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-color);
  padding-top: 5px;
  padding-left: 15px;
  position: fixed;
  z-index: 3;
  height: var(--header-height);
  }

  

 .menu {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--dark-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 25px;
  
  }

.a {
  display: inline-block;
  color: var(--beige);
  text-align: center;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  font-family: "Comfortaa", sans-serif;
  
}

.a:hover {
  background-color:#E7B2EA ;
  color: #936A96;
  transition: all 200ms ease-in-out;
}


.body{
    background-color: #EBD2B2;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 0px;
    position: relative;
    top: 0px;
}

.headline {
  padding: 30px;
  font-size: x-large;
  color: #936A96;
  display: flex;

}

.headline_L {
  color: var(--dark-color);
  position: relative;
  top: 190px;
  padding-left: 80px;
}
.headline_A {
  color: var(--dark-color);
  padding-left: 80px;
}
.text_L {
  padding: 80px;
  font-size: large;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 60%;
  margin-top: auto;
  position: absolute;
  top: 270px;
}
.text_A {
  padding: 80px;
  font-size: large;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin-right: 60%;
  margin-top: auto;
  text-align: left;
  float: left;
  width: 600px;
  left: 250px;
}
.frenchtoast {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: 100px;
  z-index: -1;
  border-radius: 8px;
  
}

.getcooking { 
  
  color:white;
  background-color:#E7B2EA;
  padding: 15px;
  border-radius: 25px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  position: absolute;
  top: 580px;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0px var(--border-colour);
  transition: all 200ms ease-in-out;
  
 
}
    
.getcooking:hover {
      background-color:var(--dark-color);
    
    }




body, html {
  height: 100%;
}


.hero-image {

background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("ella_bowl.jpeg");


height: 50%;


margin-top: 30px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: xx-large;

}

.hero-btn {
  background-color: #E7B2EA;
  font-size: xx-large;
  color: white;
  border:0px;
  border-radius: 50px;
  padding:15px;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0px var(--border-colour);
  transition: all 200ms ease-in-out;
  
  
}


.hero-btn:hover {
  background-color:var(--dark-color);
  
}



.pagetitle {
  display: relative;
  top: 100px;
  justify-content: center;
  color: #936A96;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: xx-large;

}
.container {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--search-height);
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 30px;
  

}

.search input[type="text"] {
  padding: 8px 10px;
  line-height: 1.5;
  font-size: 1rem;
  border: 1px solid #E7B2EA;
  border-radius: 25px;
  outline: none;
  transition: all 200ms ease-in-out;
  width: 50%;
  box-shadow: 0px 2px 8px 0px var(--border-colour);

}

.search input[type="text"]:focus {
  border: 3px solid #E7B2EA;
  width: 52%;
}

.btn {
  padding: 10px;
  background:#E7B2EA;
  color: white;
  border-radius: 25px;
  user-select: none;
  font-size: 1rem;
  border: 1px solid #E7B2EA;
  box-shadow: 0px 2px 8px 0px var(--border-colour);

}

.btn:hover {
  background-color: var(--dark-color);
  border-color: #E7B2EA;
  color: var(--light-color);
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
}


.recipe {
  height: 300px;
  width: 300px;
  padding: 4px;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 2px var(--border-colour);
  margin: 20px;
  transition: all 200ms ease-in-out;
  background-color: white;
}

.recipe-title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;
}

.recipe-image {
  height: 210px;
}

.recipe-image img {
  height: 100%;
  width: 100;
  border-radius: 25px;
}

.recipe-text {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background: #fff;
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;
  transform: scale(.8);
  transform-origin: top left;
  font-family: "Comfortaa", sans-serif;

}

.recipe-text ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
  
}

.recipe-text ul > li{
  padding: 5px ;
  font-family: "Comfortaa", sans-serif;
}

.recipe:hover .recipe-text {
  height: 120px;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background: var(--dark-color);
  color: white;
}

.recipe:hover {
  height: 420px;
  background: var(--dark-color);
}

.recipe:hover .recipe-title {
  color: white;
}

.hero-image-bb {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("sweet_potato_black_bean.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text-bb {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
    background-color:#936a96;
    
  }
/*   
  .hero-btn-bb {
      background-color: #E7B2EA;
      font-size: xx-large;
      color: white;
      border:0px;
      border-radius: 50px;
      padding:15px;
      text-decoration: none;
      box-shadow: 0px 2px 8px 0px var(--border-colour);
      transition: all 200ms ease-in-out;
      
      
  }
  
  
  .hero-btn-bb:hover {
      background-color:var(--dark-color);
      
    } */
  
  
.Reviews{
  display: flex;
     padding-left: 80px;
    text-align: center;
  justify-content: center;
}
.headline_LA {
  color: var(--dark-color);
  padding-left: 80px;
  display: flex;
  text-align: center;
  justify-content: center
}

.Footer{
    background-color: #936A96;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0px;
}
